$bit: 1em   //relative unit
$font: 'DM Sans', sans-serif

body
    box-sizing: border-box
    padding: 0
    margin: 0
    padding-block: 0
    margin-block: 0
    padding-inline: 0
    margin-inline: 0

    font:
        size: $bit
        family: $font

h1 
    font: calc(2*$bit)

h2
    font: calc(1.8*$bit)

h3
    font: calc(1.6*$bit)

h4
    font: calc(1.4*$bit)

h5
    font: calc(1.2*$bit)

h6
    font: calc(0.8*$bit)

.grid
    display: flex

main#container
    height: 100vh
    display: grid
    grid-template-columns: repeat(3, 1fr)


div.right
    grid-column-end: span 2

    
div#color-radios
    flex: 1
    display: grid
    grid-template: repeat(2, 1fr) / repeat(4, 1fr)
    gap: 10px

div#options
    display: grid
    grid-template: repeat(2, 1fr) / repeat(2, 1fr)

div.tops,
div.bottoms,
div.shoes,
div.accesories
    flex-flow: column nowrap

//light-dark mode styling
.light
    background: #fff
    color: #000
    //background: #ffdadc
    //color: #ac0a14
    //color: #c50f19
    //color: #fa1f31

.dark
    background: #000
    color: #fff